<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0166E47B-0A0C-4061-B2B7-9BD741CFCB6C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDC436C5-62B5-4629-9AFA-792702F07D1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CDC436C5-62B5-4629-9AFA-792702F07D1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D3BF42B-42B5-4D9D-A3C3-798155DE3A7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jochen Issing</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggle Natural Scrolling</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "System Preferences"
	set current pane to pane "com.apple.preference.trackpad"
end tell

tell application "System Events"
	tell application process "System Preferences"
		tell tab group 1 of window "Trackpad"
			click radio button 2
			click checkbox 1
		end tell
	end tell
end tell

tell application "System Preferences"
	quit
end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>CDC436C5-62B5-4629-9AFA-792702F07D1C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Natural Scrolling Toggled</string>
				<key>title</key>
				<string>Alfred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4D3BF42B-42B5-4D9D-A3C3-798155DE3A7A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0166E47B-0A0C-4061-B2B7-9BD741CFCB6C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0166E47B-0A0C-4061-B2B7-9BD741CFCB6C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>4D3BF42B-42B5-4D9D-A3C3-798155DE3A7A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CDC436C5-62B5-4629-9AFA-792702F07D1C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
