<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>73406322-1A1A-43AD-AA66-9BE10C7AEE13</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E32F9AC-9F1F-4F71-AE53-5CC0C91E43D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>85858BE5-443D-4203-9DD8-52891D7156FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73406322-1A1A-43AD-AA66-9BE10C7AEE13</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jochen Issing</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Start Plex Media Server and Client</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Plex Media Server.app</string>
					<string>/Applications/Plex.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>73406322-1A1A-43AD-AA66-9BE10C7AEE13</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>goplex</string>
				<key>subtext</key>
				<string>Starting Plex Media Server and Client</string>
				<key>text</key>
				<string>Start Plex</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>85858BE5-443D-4203-9DD8-52891D7156FD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Server and Client Started</string>
				<key>title</key>
				<string>Plex</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9E32F9AC-9F1F-4F71-AE53-5CC0C91E43D6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>73406322-1A1A-43AD-AA66-9BE10C7AEE13</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>85858BE5-443D-4203-9DD8-52891D7156FD</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9E32F9AC-9F1F-4F71-AE53-5CC0C91E43D6</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
