<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2503E914-EE98-443B-8E8C-8C4E9DC65346</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32911D50-9316-46C7-AAA0-39D006D2AB5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9CB7EE4C-FE7B-42FA-9DDA-E0EEBB03C967</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2503E914-EE98-443B-8E8C-8C4E9DC65346</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D5532858-F888-4487-85F4-163775A2BF1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2503E914-EE98-443B-8E8C-8C4E9DC65346</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jochen Issing</string>
	<key>description</key>
	<string>Eject Backup Disk with Short Cut</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Eject Backup Disk</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ebd</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9CB7EE4C-FE7B-42FA-9DDA-E0EEBB03C967</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Backup Disk Ejected!</string>
				<key>title</key>
				<string>Alfred Trigger</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>32911D50-9316-46C7-AAA0-39D006D2AB5A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>diskutil eject mybook-iss &amp;&gt; /dev/null
[[ $? == 0 ]] &amp;&amp; echo "ejected"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2503E914-EE98-443B-8E8C-8C4E9DC65346</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D5532858-F888-4487-85F4-163775A2BF1E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2503E914-EE98-443B-8E8C-8C4E9DC65346</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>32911D50-9316-46C7-AAA0-39D006D2AB5A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9CB7EE4C-FE7B-42FA-9DDA-E0EEBB03C967</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D5532858-F888-4487-85F4-163775A2BF1E</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
